@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
    overflow-x: hidden;
}

body::-webkit-scrollbar, aside::-webkit-scrollbar {
    width: 3px;
  }
  
  body::-webkit-scrollbar-track, aside::-webkit-scrollbar-track {
    background: #1a171e;
  }
  
  body::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #353535;
  }